/* ============================================================================= *\
   TABS
\* ============================================================================= */

.tab-item{
    cursor:pointer;
    padding: 10px;
    display: flex;
    text-align:center;
    color: var(--colors-font);
}
  
.tab-item:hover{
    background-color: rgba(0,0,0,0.5);
}

.tab-item.selected{
    color: var(--colors-primary);
}

.tab-icon{
    padding-top: 2px;
}

.tab-text{
    padding-top: 2px;
    font-size: 13px;
}

.tabs-layout-container i{
    vertical-align: middle;
}

.tabs-layout-container div{
    box-sizing: content-box !important;
}

.no-selectable{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
